Repository dbvis-ukon/coronavis: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dockerize-backend, dockerize-frontend, dockerize-crawler, dockerize-tileserver, deploy-backend-fb, deploy-backend-staging, deploy-backend-production, deploy-frontend, deploy-crawler, deploy-tileserver

dockerize-backend:
  stage: build:docker
  image: docker:latest
  services:
  - docker:dind
  script:
  - source var.env
  - echo "$CI_REGISTRY_PASSWORD" | docker login --username "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  - cd ${FOLDER}
  - FOLDER=$(echo "${FOLDER}" | tr '[:upper:]' '[:lower:]')
  ...

dockerize-frontend:
  stage: build:docker
  image: docker:latest
  services:
  - docker:dind
  script:
  - source var.env
  - echo "$CI_REGISTRY_PASSWORD" | docker login --username "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  - cd ${FOLDER}
  - FOLDER=$(echo "${FOLDER}" | tr '[:upper:]' '[:lower:]')
  ...

dockerize-crawler:
  stage: build:docker
  image: docker:latest
  services:
  - docker:dind
  script:
  - source var.env
  - echo "$CI_REGISTRY_PASSWORD" | docker login --username "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  - cd ${FOLDER}
  - FOLDER=$(echo "${FOLDER}" | tr '[:upper:]' '[:lower:]')
  ...

dockerize-tileserver:
  stage: build:docker
  image: docker:latest
  services:
  - docker:dind
  script:
  - source var.env
  - echo "$CI_REGISTRY_PASSWORD" | docker login --username "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  - cd ${FOLDER}
  - FOLDER=$(echo "${FOLDER}" | tr '[:upper:]' '[:lower:]')
  ...

deploy-backend-fb:
  stage: deploy
  script:
  - source var.env
  - cat var.env
  - echo ${ENV_NAME}
  - URL_ACCESSOR="URL_$(echo ${FOLDER} | tr [:lower:] [:upper:])"
  - URL=${!URL_ACCESSOR}
  - echo ${URL}
  - CHART_NAME=$(echo ${ENV_NAME}-${HELM_CHART} | tr / -)
  - echo ${CHART_NAME}
  - echo "URL=${URL}" >> var.env
  ...

deploy-backend-staging:
  stage: deploy
  script:
  - source var.env
  - cat var.env
  - echo ${ENV_NAME}
  - URL_ACCESSOR="URL_$(echo ${FOLDER} | tr [:lower:] [:upper:])"
  - URL=${!URL_ACCESSOR}
  - echo ${URL}
  - CHART_NAME=$(echo ${ENV_NAME}-${HELM_CHART} | tr / -)
  - echo ${CHART_NAME}
  - echo "URL=${URL}" >> var.env
  ...

deploy-backend-production:
  stage: deploy
  script:
  - source var.env
  - cat var.env
  - echo ${ENV_NAME}
  - URL_ACCESSOR="URL_$(echo ${FOLDER} | tr [:lower:] [:upper:])"
  - URL=${!URL_ACCESSOR}
  - echo ${URL}
  - CHART_NAME=$(echo ${ENV_NAME}-${HELM_CHART} | tr / -)
  - echo ${CHART_NAME}
  - echo "URL=${URL}" >> var.env
  ...

deploy-frontend:
  stage: deploy
  script:
  - source var.env
  - cat var.env
  - echo ${ENV_NAME}
  - URL_ACCESSOR="URL_$(echo ${FOLDER} | tr [:lower:] [:upper:])"
  - URL=${!URL_ACCESSOR}
  - echo ${URL}
  - CHART_NAME=$(echo ${ENV_NAME}-${HELM_CHART} | tr / -)
  - echo ${CHART_NAME}
  - echo "URL=${URL}" >> var.env
  ...

deploy-crawler:
  stage: deploy
  script:
  - source var.env
  - cat var.env
  - echo ${ENV_NAME}
  - URL_ACCESSOR="URL_$(echo ${FOLDER} | tr [:lower:] [:upper:])"
  - URL=${!URL_ACCESSOR}
  - echo ${URL}
  - CHART_NAME=$(echo ${ENV_NAME}-${HELM_CHART} | tr / -)
  - echo ${CHART_NAME}
  - echo "URL=${URL}" >> var.env
  ...

[#112] Deploy to differnt k8 namespaces
  .gitlab-ci.yml
Due: dockerize-backend, dockerize-frontend, deploy-backend-fb, deploy-backend-staging, deploy-backend-production, deploy-frontend

[] set environment variables in deployment
  k8/Backend/templates/Deployment.yaml
Due: dockerize-backend, deploy-backend-fb, deploy-backend-staging, deploy-backend-production

renamen environment for production
  .gitlab-ci.yml
Due: dockerize-backend, dockerize-frontend, deploy-backend-fb, deploy-backend-staging, deploy-backend-production, deploy-frontend

[#114] shorten branch name to 30 characters
  .gitlab-ci.yml
Due: dockerize-backend, dockerize-frontend, deploy-backend-fb, deploy-backend-staging, deploy-backend-production, deploy-frontend

[#114] https everywhere
  .gitlab-ci.yml
Due: dockerize-backend, dockerize-frontend, deploy-backend-fb, deploy-backend-staging, deploy-backend-production, deploy-frontend

Added About Page
  Frontend/gis/src/app/about/about.component.html
  Frontend/gis/src/app/about/about.component.less
  Frontend/gis/src/assets/Daniel_Keim.jpg
  Frontend/gis/src/assets/Menna.png
  Frontend/gis/src/assets/cakmak.jpg
  Frontend/gis/src/assets/dbviscube.png
  Frontend/gis/src/assets/fabian.jpg
  Frontend/gis/src/assets/fischer.jpg
  Frontend/gis/src/assets/fstoffel.jpg
  Frontend/gis/src/assets/jentner.jpg
  Frontend/gis/src/assets/jochen_goertler.png
  Frontend/gis/src/assets/juri.png
  Frontend/gis/src/assets/kabitz.jpg
  Frontend/gis/src/assets/kraus.png
  Frontend/gis/src/assets/matt.jpg
  Frontend/gis/src/assets/miller.png
  Frontend/gis/src/assets/oliver.png
  Frontend/gis/src/assets/seebacher.jpg
  Frontend/gis/src/assets/sevastjanova.png
  Frontend/gis/src/assets/streeb.jpg
  Frontend/gis/src/assets/thilo-spinner.jpg
  Frontend/gis/src/assets/udo-schlegel.jpg
Due: dockerize-frontend, deploy-frontend

rename crawl.py
  Backend/models/crawl.py
Due: dockerize-backend, deploy-backend-fb, deploy-backend-staging, deploy-backend-production

refactor backend, extract views and models into different modules
  Backend/cache.py
  Backend/corona_app/api.py
  Backend/corona_app/model.py
  Backend/db.py
  Backend/models/__init__.py
  Backend/models/cases.py
  Backend/models/craw.py
  Backend/models/hospital.py
  Backend/server.py
  Backend/static/config/config.cfg
  Backend/static/empty
  Backend/views/__init__.py
  Backend/views/cases.py
  Backend/views/health.py
  Backend/views/helpers.py
  Backend/views/hospitals.py
  Backend/views/osm.py
Due: dockerize-backend, deploy-backend-fb, deploy-backend-staging, deploy-backend-production

remove unnecessary configs
  Backend/static/config/config.cfg
Due: dockerize-backend, deploy-backend-fb, deploy-backend-staging, deploy-backend-production

change root url when using url prefix
  Backend/views/health.py
  Backend/views/hospitals.py
Due: dockerize-backend, deploy-backend-fb, deploy-backend-staging, deploy-backend-production

Compressed images
  Frontend/gis/src/app/about/about.component.html
  Frontend/gis/src/assets/Daniel_Keim.jpg
  Frontend/gis/src/assets/Menna.jpg
  Frontend/gis/src/assets/Menna.png
  Frontend/gis/src/assets/cakmak.jpg
  Frontend/gis/src/assets/fabian.jpg
  Frontend/gis/src/assets/fischer.jpg
  Frontend/gis/src/assets/fstoffel.jpg
  Frontend/gis/src/assets/jentner.jpg
  Frontend/gis/src/assets/jochen_goertler.jpg
  Frontend/gis/src/assets/jochen_goertler.png
  Frontend/gis/src/assets/juri.jpg
  Frontend/gis/src/assets/juri.png
  Frontend/gis/src/assets/kabitz.jpg
  Frontend/gis/src/assets/kraus.jpg
  Frontend/gis/src/assets/kraus.png
  Frontend/gis/src/assets/matt.jpg
  Frontend/gis/src/assets/miller.jpg
  Frontend/gis/src/assets/miller.png
  Frontend/gis/src/assets/oliver.jpg
  Frontend/gis/src/assets/oliver.png
  Frontend/gis/src/assets/seebacher.jpg
  Frontend/gis/src/assets/sevastjanova.jpg
  Frontend/gis/src/assets/sevastjanova.png
  Frontend/gis/src/assets/streeb.jpg
  Frontend/gis/src/assets/thilo-spinner.jpg
  Frontend/gis/src/assets/udo-schlegel.jpg
Due: dockerize-frontend, deploy-frontend

keep old config.py file to avoid problems with crawlers
  Backend/config.py
  Backend/server.py
Due: dockerize-backend, deploy-backend-fb, deploy-backend-staging, deploy-backend-production

add health check for database connection
  Backend/views/health.py
Due: dockerize-backend, deploy-backend-fb, deploy-backend-staging, deploy-backend-production

Update impressum.component.html
  Frontend/gis/src/app/impressum/impressum.component.html
Due: dockerize-frontend, deploy-frontend

[#27] Added tooltip for aggregated glyphs
  Frontend/gis/src/app/aggregated-glyph-tooltip/aggregated-glyph-tooltip.component.html
  Frontend/gis/src/app/aggregated-glyph-tooltip/aggregated-glyph-tooltip.component.less
  Frontend/gis/src/app/aggregated-glyph-tooltip/aggregated-glyph-tooltip.component.ts
  Frontend/gis/src/app/app.module.ts
  Frontend/gis/src/app/map/overlays/aggregated-glyph.layer.ts
Due: dockerize-frontend, deploy-frontend

[#27] vega test
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
  Frontend/gis/src/app/app.module.ts
  Frontend/gis/src/app/infobox/infobox.component.html
  Frontend/gis/src/app/infobox/infobox.component.ts
  Frontend/gis/src/app/vega/vega.component.less
  Frontend/gis/src/app/vega/vega.component.ts
  Frontend/gis/tsconfig.json
Due: dockerize-frontend, deploy-frontend

[#27] Fixed category names, tickCount, and added numerical labels
  Frontend/gis/src/app/aggregated-glyph-tooltip/aggregated-glyph-tooltip.component.html
  Frontend/gis/src/app/aggregated-glyph-tooltip/aggregated-glyph-tooltip.component.ts
Due: dockerize-frontend, deploy-frontend

[#27] bar charts in glyphs
  Frontend/gis/src/app/aggregated-glyph-tooltip/aggregated-glyph-tooltip.component.html
  Frontend/gis/src/app/aggregated-glyph-tooltip/aggregated-glyph-tooltip.component.less
  Frontend/gis/src/app/aggregated-glyph-tooltip/aggregated-glyph-tooltip.component.ts
  Frontend/gis/src/app/infobox/infobox.component.html
  Frontend/gis/src/app/infobox/infobox.component.ts
  Frontend/gis/src/app/vega/vega.component.ts
Due: dockerize-frontend, deploy-frontend

[#27] cleanup vega component
  Frontend/gis/src/app/vega/vega.component.ts
Due: dockerize-frontend, deploy-frontend

[#27] fixes the bug when one number stands out
  Frontend/gis/src/app/aggregated-glyph-tooltip/aggregated-glyph-tooltip.component.ts
Due: dockerize-frontend, deploy-frontend

[#27] css styles and a little bit of hacking
  Frontend/gis/src/app/aggregated-glyph-tooltip/aggregated-glyph-tooltip.component.less
Due: dockerize-frontend, deploy-frontend

[#27] added required styles for case tooltip
  Frontend/gis/src/app/case-tooltip/case-tooltip.component.less
  Frontend/gis/src/app/case-tooltip/case-tooltip.component.ts
Due: dockerize-frontend, deploy-frontend

[#27] added required css styles
  Frontend/gis/src/app/glyph-tooltip/glyph-tooltip.component.less
Due: dockerize-frontend, deploy-frontend

remove old config
  Backend/config.py
  Backend/server.py
  Backend/views/hospitals.py
Due: dockerize-backend, deploy-backend-fb, deploy-backend-staging, deploy-backend-production

formatting
  Backend/views/health.py
Due: dockerize-backend, deploy-backend-fb, deploy-backend-staging, deploy-backend-production

add logging of pw, remove if successful
  Backend/server.py
Due: dockerize-backend, deploy-backend-fb, deploy-backend-staging, deploy-backend-production

remove whitespace from pass
  Backend/server.py
Due: dockerize-backend, deploy-backend-fb, deploy-backend-staging, deploy-backend-production

update health check and add version check
  Backend/server.py
  Backend/views/health.py
  Backend/views/version.py
Due: dockerize-backend, deploy-backend-fb, deploy-backend-staging, deploy-backend-production

[] set version as environment variable
  k8/Backend/templates/Deployment.yaml
  k8/Backend/values.yaml
Due: dockerize-backend, deploy-backend-fb, deploy-backend-staging, deploy-backend-production

update gitignore
  .gitignore
Due: none

remove redirect from health check
  Backend/views/health.py
Due: dockerize-backend, deploy-backend-fb, deploy-backend-staging, deploy-backend-production

update readme and add .env_example file
  .env_example
  README.md
Due: none

remove environment variables from docker file
  docker-compose.yml
Due: none

remove environment tag
  docker-compose.yml
Due: none

[#115] add pigz for hopefully faster tar unpacking
  Tiles/Dockerfile
Due: dockerize-tileserver, deploy-tileserver

Revert "[#115] test build tile server on fb"
  .gitlab-ci.yml
Due: dockerize-backend, dockerize-frontend, deploy-backend-fb, deploy-backend-staging, deploy-backend-production, deploy-frontend

[#115] test build tile server on fb
  .gitlab-ci.yml
Due: dockerize-backend, dockerize-frontend, deploy-backend-fb, deploy-backend-staging, deploy-backend-production, deploy-frontend

Add mockup directory
  mockups/.gitkeep
Due: none

Add hospital glyph sketch
  mockups/hospital_glyph.md
  mockups/hospital_glyph.md.7453.png
  mockups/main.md
Due: none

Add first sketches
  mockups/hospital_tooltip.md
  mockups/hospital_tooltip.md.4534.png
  mockups/main.md
  mockups/main.md.5333.png
Due: none

Path conditions:
  dockerize-backend: any of: Backend/**, Backend/**/*, k8/Backend/**, k8/Backend/**/*, .gitlab-ci.yml
  dockerize-frontend: any of: Frontend/**, Frontend/**/*, k8/Frontend/**, k8/Frontend/**/*, .gitlab-ci.yml
  dockerize-crawler: any of: Crawler/**, Crawler/**/*, k8/Crawler/**, k8/Crawler/**/*
  dockerize-tileserver: any of: Tiles/**, Tiles/**/*, k8/Tiles/**, k8/Tiles/**/*
  deploy-backend-fb: any of: Backend/**, Backend/**/*, k8/Backend/**, k8/Backend/**/*, .gitlab-ci.yml
  deploy-backend-staging: any of: Backend/**, Backend/**/*, k8/Backend/**, k8/Backend/**/*, .gitlab-ci.yml
  deploy-backend-production: any of: Backend/**, Backend/**/*, k8/Backend/**, k8/Backend/**/*, .gitlab-ci.yml
  deploy-frontend: any of: Frontend/**, Frontend/**/*, k8/Frontend/**, k8/Frontend/**/*, .gitlab-ci.yml
  deploy-crawler: any of: Crawler/**, Crawler/**/*, k8/Crawler/**, k8/Crawler/**/*
  deploy-tileserver: any of: Tiles/**, Tiles/**/*, k8/Tiles/**, k8/Tiles/**/*
