Repository dbvis-ukon/coronavis: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dockerize-backend, dockerize-frontend, dockerize-crawler, dockerize-tileserver, deploy-backend-fb, deploy-backend-staging, deploy-backend-production, deploy-frontend, deploy-crawler, deploy-tileserver

Path conditions:
  dockerize-backend: any of: Backend/**, Backend/**/*, k8/Backend/**, k8/Backend/**/*, .gitlab-ci.yml
  dockerize-frontend: any of: Frontend/**, Frontend/**/*, k8/Frontend/**, k8/Frontend/**/*, .gitlab-ci.yml
  dockerize-crawler: any of: Crawler/**, Crawler/**/*, k8/Crawler/**, k8/Crawler/**/*
  dockerize-tileserver: any of: Tiles/**, Tiles/**/*, k8/Tiles/**, k8/Tiles/**/*
  deploy-backend-fb: any of: Backend/**, Backend/**/*, k8/Backend/**, k8/Backend/**/*, .gitlab-ci.yml
  deploy-backend-staging: any of: Backend/**, Backend/**/*, k8/Backend/**, k8/Backend/**/*, .gitlab-ci.yml
  deploy-backend-production: any of: Backend/**, Backend/**/*, k8/Backend/**, k8/Backend/**/*, .gitlab-ci.yml
  deploy-frontend: any of: Frontend/**, Frontend/**/*, k8/Frontend/**, k8/Frontend/**/*, .gitlab-ci.yml
  deploy-crawler: any of: Crawler/**, Crawler/**/*, k8/Crawler/**, k8/Crawler/**/*
  deploy-tileserver: any of: Tiles/**, Tiles/**/*, k8/Tiles/**, k8/Tiles/**/*

Initial structure
  mockups/main.md
Due: none

More ideas
  mockups/hospital_tooltip.md
  mockups/main.md
Due: none

Fix paths
  mockups/hospital_glyph.md
  mockups/hospital_tooltip.md
  mockups/main.md
Due: none

Capacities view for areas v1
  mockups/capacities_area.md
  mockups/capacities_area.md.7347.png
  mockups/capacities_hospital.md
  mockups/main.md
Due: none

Clarifications
  mockups/hospital_tooltip.md
Due: none

Capacities view v1
  mockups/capacities_area.md
  mockups/capacities_hospital.md
  mockups/capacities_hospital.md.6091.png
  mockups/hospital_tooltip.md
  mockups/main.md
Due: none

Some more ideas
  mockups/hospital_tooltip.md
  mockups/main.md
Due: none

Hospital tooltip v2
  mockups/hospital_tooltip.md
  mockups/hospital_tooltip.md.6702.png
Due: none

Time of last update required in capacities_hospital
  mockups/capacities_hospital.md
Due: none

Landkreis tooltip v1
  mockups/hospital_glyph.md
  mockups/landkreis_tooltip.md
  mockups/landkreis_tooltip.md.6702.png
Due: none

Add requirement for landkreis tooltip v2
  mockups/landkreis_tooltip.md
Due: none

Update fstoffel.jpg
  Frontend/gis/src/assets/fstoffel.jpg
Due: dockerize-frontend, deploy-frontend

[#119] simplifying the changes in rules
  .gitlab-ci.yml
Due: dockerize-backend, dockerize-frontend, deploy-backend-fb, deploy-backend-staging, deploy-backend-production, deploy-frontend

[#119] don't check for file changes but run those jobs everytime
  .gitlab-ci.yml
Due: dockerize-backend, dockerize-frontend, deploy-backend-fb, deploy-backend-staging, deploy-backend-production, deploy-frontend

Small changes to css in infobox, about, impressum. Made profile pictures clickable and links open in new tab.
  Frontend/gis/src/app/about/about.component.html
  Frontend/gis/src/app/about/about.component.less
  Frontend/gis/src/app/impressum/impressum.component.less
  Frontend/gis/src/app/infobox/infobox.component.html
  Frontend/gis/src/app/infobox/infobox.component.less
Due: dockerize-frontend, deploy-frontend

Rename About to Team
  Frontend/gis/src/app/infobox/infobox.component.html
Due: dockerize-frontend, deploy-frontend

[#122] set url_protocol in ci and adjust it for the frontend url and env url
  .gitlab-ci.yml
  Frontend/replace-environment-urls.sh
Due: dockerize-backend, dockerize-frontend, deploy-backend-fb, deploy-backend-staging, deploy-backend-production, deploy-frontend

[#122] set traefik labels for ingress
  .gitlab-ci.yml
  k8/Backend/templates/Ingress.yaml
  k8/Backend/templates/_helpers.tpl
  k8/Backend/values.yaml
  k8/Crawler/values.yaml
  k8/Frontend/templates/Ingress.yaml
  k8/Frontend/templates/_helpers.tpl
  k8/Frontend/values.yaml
  k8/Tiles/templates/Ingress.yaml
  k8/Tiles/templates/_helpers.tpl
  k8/Tiles/values.yaml
Due: dockerize-backend, dockerize-frontend, dockerize-crawler, dockerize-tileserver, deploy-backend-fb, deploy-backend-staging, deploy-backend-production, deploy-frontend, deploy-crawler, deploy-tileserver

[#122] fix helm syntax
  k8/Backend/templates/_helpers.tpl
  k8/Frontend/templates/_helpers.tpl
  k8/Tiles/templates/_helpers.tpl
Due: dockerize-backend, dockerize-frontend, dockerize-tileserver, deploy-backend-fb, deploy-backend-staging, deploy-backend-production, deploy-frontend, deploy-tileserver

[#122] add and fix missing template definition
  k8/Backend/templates/_helpers.tpl
  k8/Frontend/templates/_helpers.tpl
  k8/Tiles/templates/_helpers.tpl
Due: dockerize-backend, dockerize-frontend, dockerize-tileserver, deploy-backend-fb, deploy-backend-staging, deploy-backend-production, deploy-frontend, deploy-tileserver

[#122] fix typo
  .gitlab-ci.yml
Due: dockerize-backend, dockerize-frontend, deploy-backend-fb, deploy-backend-staging, deploy-backend-production, deploy-frontend

Update db_config.py
  Crawler/db_config.py
Due: dockerize-crawler, deploy-crawler

Docker ENV
  Crawler/crawler.py
  Crawler/crawler_map.py
  Crawler/crawler_rki_dashboard.py
  Crawler/db_config.py
Due: dockerize-crawler, deploy-crawler

Replace tracking JS with pixel to circumvent JS blockers.
  Frontend/gis/src/index.html
Due: dockerize-frontend, deploy-frontend

Re-positioning of tracking code
  Frontend/gis/src/index.html
Due: dockerize-frontend, deploy-frontend

dont enforce strict slashes at the end
  Backend/views/health.py
  Backend/views/version.py
Due: dockerize-backend, deploy-backend-fb, deploy-backend-staging, deploy-backend-production

disable strict slashes for all endpoints
  Backend/server.py
  Backend/views/health.py
  Backend/views/version.py
Due: dockerize-backend, deploy-backend-fb, deploy-backend-staging, deploy-backend-production

touch fallback for covid-19 cases choropleth map
  Frontend/gis/src/app/map/overlays/casechoropleth.ts
  Frontend/gis/src/app/services/tooltip.service.ts
Due: dockerize-frontend, deploy-frontend

touch fallback for aggregated hosptial statistics
  Frontend/gis/src/app/map/overlays/aggregated-glyph.layer.ts
  Frontend/gis/src/app/services/tooltip.service.ts
Due: dockerize-frontend, deploy-frontend

[#121] Fix bed aggregation translation to colors
  Frontend/gis/src/app/map/overlays/aggregated-glyph.layer.ts
  Frontend/gis/src/app/map/overlays/bedstatuschoropleth.ts
  Frontend/gis/src/app/services/colormap.service.ts
Due: dockerize-frontend, deploy-frontend

[#116] Add custom webpack config with babel loader for vega
  Frontend/gis/.babelrc
  Frontend/gis/angular.json
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
  Frontend/gis/webpack.config.js
Due: dockerize-frontend, deploy-frontend

add geo position
  Crawler/crawl_divi_data.py
Due: dockerize-crawler, deploy-crawler

divi detailed hospital bed count crawler
  Crawler/crawl_divi_data.py
  Crawler/crawler.sh
Due: dockerize-crawler, deploy-crawler

split up yaml files
  k8/Crawler/templates/cron-covid19vis-crawler-divi-hospitals-map.yaml
  k8/Crawler/templates/cron-covid19vis-crawler-divi-hospitals-table.yaml
  k8/Crawler/templates/cron-covid19vis-crawler-old-divi-hospitals-map.yaml
  k8/Crawler/templates/cron-covid19vis-crawler-patient-cases.yaml
  k8/Crawler/templates/cron-covid19vis-crawler-rki-lk-bl-cases.yaml
  k8/Crawler/templates/cronjob.yaml
Due: dockerize-crawler, deploy-crawler

Update cronjob.yaml
  k8/Crawler/templates/cronjob.yaml
Due: dockerize-crawler, deploy-crawler

add job to cronjob.yaml and remove deprecated crawler.sh
  Crawler/crawler.sh
  k8/Crawler/templates/cronjob.yaml
Due: dockerize-crawler, deploy-crawler

add labels
  k8/Crawler/templates/cronjob.yaml
Due: dockerize-crawler, deploy-crawler

Code Review
  Crawler/crawl_divi_data.py
  Crawler/crawl_rki_cases.py
  Crawler/db_config.py
Due: dockerize-crawler, deploy-crawler
