Repository dbvis-ukon/coronavis: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dockerize-crawler, dockerize-tiles, deploy-crawler-production, deploy-tiles-staging, deploy-tiles-production

dockerize-crawler:
  stage: build:docker
  image: docker:latest
  services:
  - docker:dind
  script:
  - source var.env
  - echo "$CI_REGISTRY_PASSWORD" | docker login --username "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  - cd ${FOLDER}
  - IMGNAME=$(echo "${FOLDER}" | tr '[:upper:]' '[:lower:]')
  ...

dockerize-tiles:
  stage: build:docker
  image: docker:latest
  services:
  - docker:dind
  script:
  - source var.env
  - echo "$CI_REGISTRY_PASSWORD" | docker login --username "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  - cd ${FOLDER}
  - IMGNAME=$(echo "${FOLDER}" | tr '[:upper:]' '[:lower:]')
  ...

deploy-crawler-production:
  stage: deploy
  script:
  - source var.env
  - cat var.env
  - URL_ACCESSOR="URL_$(echo ${APP} | tr [:lower:] [:upper:])"
  - echo $URL_ACCESSOR
  - URL=${!URL_ACCESSOR}
  - echo ${URL}
  - CHART_NAME=$(echo ${CI_ENVIRONMENT_NAME} | tr / - | cut -c -53 | sed -E 's#-+$##')
  - echo ${CHART_NAME}
  ...

deploy-tiles-staging:
  stage: deploy
  script:
  - source var.env
  - cat var.env
  - URL_ACCESSOR="URL_$(echo ${APP} | tr [:lower:] [:upper:])"
  - echo $URL_ACCESSOR
  - URL=${!URL_ACCESSOR}
  - echo ${URL}
  - CHART_NAME=$(echo ${CI_ENVIRONMENT_NAME} | tr / - | cut -c -53 | sed -E 's#-+$##')
  - echo ${CHART_NAME}
  ...

deploy-tiles-production:
  stage: deploy
  script:
  - source var.env
  - cat var.env
  - URL_ACCESSOR="URL_$(echo ${APP} | tr [:lower:] [:upper:])"
  - echo $URL_ACCESSOR
  - URL=${!URL_ACCESSOR}
  - echo ${URL}
  - CHART_NAME=$(echo ${CI_ENVIRONMENT_NAME} | tr / - | cut -c -53 | sed -E 's#-+$##')
  - echo ${CHART_NAME}
  ...

Fix #67
  k8/Crawler/templates/cron-covid19vis-crawler-divi-hospitals-map.yaml
  k8/Crawler/templates/cron-covid19vis-crawler-divi-hospitals-table.yaml
Due: dockerize-crawler, deploy-crawler-production

[#127] use different binary
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-production, deploy-tiles-staging, deploy-tiles-production

[#127] fix syntax of limits
  k8/Backend/templates/Deployment.yaml
  k8/Frontend/templates/Deployment.yaml
Due: none

[#127] fix typos
  k8/Backend/templates/Deployment.yaml
  k8/Frontend/templates/Deployment.yaml
  k8/Tiles/templates/Deployment.yaml
Due: dockerize-tiles, deploy-tiles-staging, deploy-tiles-production

[#125] wip version numbers
  Frontend/gis/src/app/about/about.component.html
  Frontend/gis/src/app/about/about.component.less
  Frontend/gis/src/app/about/about.component.ts
  Frontend/gis/src/environments/environment.prod.ts
  Frontend/gis/src/environments/environment.ts
Due: none

[#128] --purge is default in helm3
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-production, deploy-tiles-staging, deploy-tiles-production

[#128] Specify namespace for helm delete
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-production, deploy-tiles-staging, deploy-tiles-production

[#125] show versions in team dialog
  Frontend/gis/src/app/about/about.component.html
  Frontend/gis/src/app/about/about.component.ts
  Frontend/gis/src/environments/environment.prod.ts
  Frontend/gis/src/environments/environment.ts
Due: none

use larger about dialog to avoid scrolling
  Frontend/gis/src/app/about/about.component.html
  Frontend/gis/src/app/about/about.component.less
  Frontend/gis/src/app/app.component.less
  Frontend/gis/src/app/infobox/infobox.component.ts
  Frontend/gis/src/styles.less
  Frontend/gis/yarn.lock
Due: none

[#131] Enable to toggle legend
  Frontend/gis/src/app/legend/legend.component.html
  Frontend/gis/src/app/legend/legend.component.less
  Frontend/gis/src/app/legend/legend.component.ts
Due: none

[#95] fit legend category boundaries to the current level of detail. only show necessary levels of decimals
  Frontend/gis/src/app/legend/legend.component.ts
Due: none

[#125] inject version and env_type into frontend
  .gitlab-ci.yml
  Frontend/replace-environment-urls.sh
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-production, deploy-tiles-staging, deploy-tiles-production

[#125] fix control flow
  Frontend/gis/src/environments/environment.prod.ts
Due: none

add multiple endpoints for divi data
  Backend/models/divi.py
  Backend/server.py
  Backend/views/divi.py
Due: none

add missing slashes
  Backend/views/divi.py
Due: none

[#125] only enable production mode in production
  Frontend/gis/src/environments/environment.prod.ts
  Frontend/gis/src/environments/environment.ts
  Frontend/gis/src/main.ts
Due: none

[#125] remove trailing slashes
  Frontend/replace-environment-urls.sh
Due: none

[#95] clean code
  Frontend/gis/src/app/legend/legend.component.ts
Due: none

triggerer test --> change to mm
  Frontend/gis/src/app/legend/legend.component.ts
Due: none

use psycopg2-binary connection string
  Crawler/crawl_divi_data.py
Due: dockerize-crawler, deploy-crawler-production

[#26] Fix city names in glyphs
  Frontend/gis/src/app/map/overlays/simple-glyph.layer.ts
Due: none

[#131] Fix minimum at cases legend
  Frontend/gis/src/app/legend/legend.component.ts
Due: none

sort data items by length
  Crawler/crawl_divi_data.py
Due: dockerize-crawler, deploy-crawler-production

Add tooltips to collapsed cases legend
  Frontend/gis/src/app/legend/legend.component.html
  Frontend/gis/src/app/legend/legend.component.ts
Due: none

[#137] move description field to annotations
  k8/Crawler/templates/cron-covid19vis-crawler-divi-hospitals-map.yaml
  k8/Crawler/templates/cron-covid19vis-crawler-divi-hospitals-table.yaml
  k8/Crawler/templates/cron-covid19vis-crawler-old-divi-hospitals-map.yaml
  k8/Crawler/templates/cron-covid19vis-crawler-patient-cases.yaml
  k8/Crawler/templates/cron-covid19vis-crawler-rki-lk-bl-cases.yaml
Due: dockerize-crawler, deploy-crawler-production

[#139] define environment variables for cronjobs
  .gitlab-ci.yml
  k8/Crawler/templates/cron-covid19vis-crawler-divi-hospitals-map.yaml
  k8/Crawler/templates/cron-covid19vis-crawler-divi-hospitals-table.yaml
  k8/Crawler/templates/cron-covid19vis-crawler-old-divi-hospitals-map.yaml
  k8/Crawler/templates/cron-covid19vis-crawler-patient-cases.yaml
  k8/Crawler/templates/cron-covid19vis-crawler-rki-lk-bl-cases.yaml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-production, deploy-tiles-staging, deploy-tiles-production

return nonzero exit code
  Crawler/crawl_divi_data.py
Due: dockerize-crawler, deploy-crawler-production

resolve merge conflict
  Crawler/crawl_divi_data.py
Due: dockerize-crawler, deploy-crawler-production

fix legends for human readability
  Frontend/gis/src/app/infobox/infobox.component.html
  Frontend/gis/src/app/legend/legend.component.html
  Frontend/gis/src/app/legend/legend.component.ts
  Frontend/gis/src/app/services/colormap.service.ts
Due: none

add nearby helipads (500m) to hospitals
  Backend/models/hospital.py
  Backend/views/hospitals.py
Due: none

[#146] add @angular/localize
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

Revert "use psycopg2-binary connection string" and improve selection underlying issue will be fixed in next commit
  Crawler/crawl_divi_data.py
Due: dockerize-crawler, deploy-crawler-production

fix actual env error due to escape not working correctly
  Crawler/db_config.py
Due: dockerize-crawler, deploy-crawler-production

remove development file
  Crawler/crawl_rki_cases_wip.ipynb
Due: dockerize-crawler, deploy-crawler-production

fix cronjob names, improve runtimes, add maintainers
  k8/Crawler/templates/cron-covid19vis-crawler-divi-hospitals-map.yaml
  k8/Crawler/templates/cron-covid19vis-crawler-divi-hospitals-table.yaml
  k8/Crawler/templates/cron-covid19vis-crawler-old-divi-hospitals-map.yaml
  k8/Crawler/templates/cron-covid19vis-crawler-rki-lk-bl-cases.yaml
  k8/Crawler/templates/cron-covid19vis-crawler-rki-patient-cases.yaml
Due: dockerize-crawler, deploy-crawler-production

[#146] add i18n tags to about page
  Frontend/gis/src/app/about/about.component.html
Due: none

Path conditions:
  dockerize-crawler: any of: Crawler/**/*, k8/Crawler/**/*, .gitlab-ci.yml
  dockerize-tiles: any of: Tiles/**/*, k8/Tiles/**/*, .gitlab-ci.yml
  deploy-crawler-production: any of: Crawler/**/*, k8/Crawler/**/*, .gitlab-ci.yml
  deploy-tiles-staging: any of: Tiles/**/*, k8/Tiles/**/*, .gitlab-ci.yml
  deploy-tiles-production: any of: Tiles/**/*, k8/Tiles/**/*, .gitlab-ci.yml
