Repository dbvis-ukon/coronavis: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dockerize-crawler, dockerize-tiles, deploy-crawler-production, deploy-tiles-staging, deploy-tiles-production

Path conditions:
  dockerize-crawler: any of: Crawler/**/*, k8/Crawler/**/*, .gitlab-ci.yml
  dockerize-tiles: any of: Tiles/**/*, k8/Tiles/**/*, .gitlab-ci.yml
  deploy-crawler-production: any of: Crawler/**/*, k8/Crawler/**/*, .gitlab-ci.yml
  deploy-tiles-staging: any of: Tiles/**/*, k8/Tiles/**/*, .gitlab-ci.yml
  deploy-tiles-production: any of: Tiles/**/*, k8/Tiles/**/*, .gitlab-ci.yml

[#133] additional removal jobs for new env
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-production, deploy-tiles-staging, deploy-tiles-production

[#133] Fix helm entry points for new env
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-production, deploy-tiles-staging, deploy-tiles-production

[#133] change entrypoint to bash
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-production, deploy-tiles-staging, deploy-tiles-production

[#133] install bash in entrypoint
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-production, deploy-tiles-staging, deploy-tiles-production

[#133] install bash
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-production, deploy-tiles-staging, deploy-tiles-production

[#133] also export kubeconfig in delete job
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-production, deploy-tiles-staging, deploy-tiles-production

[#133] add entrypoint also to remove script
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-production, deploy-tiles-staging, deploy-tiles-production

[#133] export the KUBECONFIG variable
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-production, deploy-tiles-staging, deploy-tiles-production

[#133] Dedicated kubeconfig for staging & production
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-production, deploy-tiles-staging, deploy-tiles-production

[#133] created new charts with different ingress
  .gitlab-ci.yml
  k8/backend-new/Chart.yaml
  k8/backend-new/templates/Deployment.yaml
  k8/backend-new/templates/Ingress.yaml
  k8/backend-new/templates/Service.yaml
  k8/backend-new/templates/_helpers.tpl
  k8/backend-new/values.yaml
  k8/crawler-new/Chart.yaml
  k8/crawler-new/templates/_helpers.tpl
  k8/crawler-new/templates/cron-covid19vis-crawler-divi-hospitals-map.yaml
  k8/crawler-new/templates/cron-covid19vis-crawler-divi-hospitals-table.yaml
  k8/crawler-new/templates/cron-covid19vis-crawler-old-divi-hospitals-map.yaml
  k8/crawler-new/templates/cron-covid19vis-crawler-patient-cases.yaml
  k8/crawler-new/templates/cron-covid19vis-crawler-rki-lk-bl-cases.yaml
  k8/crawler-new/values.yaml
  k8/frontend-new/Chart.yaml
  k8/frontend-new/templates/Deployment.yaml
  k8/frontend-new/templates/Ingress.yaml
  k8/frontend-new/templates/Service.yaml
  k8/frontend-new/templates/_helpers.tpl
  k8/frontend-new/values.yaml
  k8/tiles-new/Chart.yaml
  k8/tiles-new/templates/Deployment.yaml
  k8/tiles-new/templates/Ingress.yaml
  k8/tiles-new/templates/Service.yaml
  k8/tiles-new/templates/_helpers.tpl
  k8/tiles-new/values.yaml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-production, deploy-tiles-staging, deploy-tiles-production

frontend stuff
  Frontend/gis/src/app/hospital-info-dialog/hospital-info-dialog.component.ts
  Frontend/gis/src/app/hospital-info/hospital-info.component.html
  Frontend/gis/src/app/hospital-info/hospital-info.component.ts
  Frontend/gis/src/app/map/overlays/aggregated-glyph.layer.ts
  Frontend/gis/src/app/map/overlays/bedstatuschoropleth.ts
  Frontend/gis/src/app/map/overlays/simple-glyph.layer.ts
  Frontend/gis/src/app/services/colormap.service.ts
  Frontend/gis/src/app/services/divi-hospitals.service.ts
Due: none

[#146] added locales de
  Frontend/gis/angular.json
Due: none

[hotfix] fix k8 manifest syntax
  k8/backend-new/templates/Ingress.yaml
  k8/frontend-new/templates/Ingress.yaml
  k8/tiles-new/templates/Ingress.yaml
Due: none

merge max branch 153 with new apis
  Frontend/gis/src/app/hospital-info/hospital-info.component.html
Due: none

[] prepare for production deploy to new k8 cluster
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-production, deploy-tiles-staging, deploy-tiles-production

adapt hospital info html to new api
  Frontend/gis/src/app/hospital-info/hospital-info.component.html
Due: none

make divi crawler time agnostic
  Crawler/crawl_divi_data.py
Due: dockerize-crawler, deploy-crawler-production

[hotfix] use helm v3 for remove jobs
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-production, deploy-tiles-staging, deploy-tiles-production

add table with basic infos
  Frontend/gis/src/app/hospital-info/hospital-info.component.html
  Frontend/gis/src/app/hospital-info/hospital-info.component.less
Due: none

[#131] Replace title by matTooltip
  Frontend/gis/src/app/legend/legend.component.html
Due: none

[hotfix] preface new environment name with new- in delete jobs
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-production, deploy-tiles-staging, deploy-tiles-production

[#133] kubeconfig magixx
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-production, deploy-tiles-staging, deploy-tiles-production

[#133] disambiguate deployment names + use new deployment
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-production, deploy-tiles-staging, deploy-tiles-production

[#133] Rename kubeconfig var to not disturb other deployments
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-production, deploy-tiles-staging, deploy-tiles-production

Dem feinen Herrn Dr. Stoffel seine URL geändert.
  Frontend/gis/src/app/about/about.component.html
Due: none
