Repository dbvis-ukon/coronavis: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dockerize-crawler, dockerize-tiles, deploy-crawler-production, deploy-tiles-staging, deploy-tiles-production

Path conditions:
  dockerize-crawler: any of: Crawler/**/*, k8/Crawler/**/*, .gitlab-ci.yml
  dockerize-tiles: any of: Tiles/**/*, k8/Tiles/**/*, .gitlab-ci.yml
  deploy-crawler-production: any of: Crawler/**/*, k8/Crawler/**/*, .gitlab-ci.yml
  deploy-tiles-staging: any of: Tiles/**/*, k8/Tiles/**/*, .gitlab-ci.yml
  deploy-tiles-production: any of: Tiles/**/*, k8/Tiles/**/*, .gitlab-ci.yml

[#131] Fix condigional assignment
  Frontend/gis/src/app/legend/legend.component.ts
Due: none

[#146] nesting tags is not allowed
  Frontend/gis/src/app/about/about.component.html
Due: none

[#146] generate translation file
  Frontend/gis/src/locale/messages.en.xlf
Due: none

[#146] move file into different folder
  Frontend/gis/angular.json
  Frontend/gis/src/i18n/messages.en.xlf
Due: none

[#142] disable building on feature branches again
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-production, deploy-tiles-staging, deploy-tiles-production

[#142] put version into build process and serve version in /version
  .gitlab-ci.yml
  Tiles/Dockerfile
  Tiles/mysite.conf
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-production, deploy-tiles-staging, deploy-tiles-production

[#142] temporarily enable build on feature branch
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-production, deploy-tiles-staging, deploy-tiles-production

[#142] reorder some commands
  Tiles/Dockerfile
Due: dockerize-tiles, deploy-tiles-staging, deploy-tiles-production

[#144] upgrade @angular/cli
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

[#144] upgrade @angular/core
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

[#144] upgrade @angular/material
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

[#144] postinstall no longer necessary because ivy uses parallel compiler
  Frontend/gis/package.json
Due: none

[#144] remove trailing comma
  Frontend/gis/package.json
Due: none

[#144] unsafe-perm no longer necessary
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-production, deploy-tiles-staging, deploy-tiles-production

[#146] wip before merge
  Frontend/gis/angular.json
  Frontend/gis/package.json
  Frontend/gis/src/polyfills.ts
Due: none

[141] firefox fallback, edge support
  Frontend/gis/src/app/about/about.component.html
  Frontend/gis/src/app/about/about.component.less
  Frontend/gis/src/styles.less
Due: none

[#146] add localize
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

[#146] wip german localization
  Frontend/gis/src/i18n/messages.de.xlf
Due: none

[#155] fixes #155
  Tiles/mysite.conf
Due: dockerize-tiles, deploy-tiles-staging, deploy-tiles-production

[#155] add correct header
  Tiles/mysite.conf
Due: dockerize-tiles, deploy-tiles-staging, deploy-tiles-production

[#154] env type was not written into var.env fixes #154
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-production, deploy-tiles-staging, deploy-tiles-production

[#154] fix logic in prepare job
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-production, deploy-tiles-staging, deploy-tiles-production

intermediate code
  Frontend/gis/src/app/map/overlays/simple-glyph.layer.ts
  Frontend/gis/src/app/services/data.service.ts
  Frontend/gis/src/app/services/divi-hospitals.service.ts
Due: none

intermediate
  Frontend/gis/src/app/map/overlays/aggregated-glyph.layer.ts
  Frontend/gis/src/app/map/overlays/simple-glyph.layer.ts
  Frontend/gis/src/app/services/colormap.service.ts
  Frontend/gis/src/app/services/divi-hospitals.service.ts
Due: none

change singlehospitalproperties
  Frontend/gis/src/app/services/divi-hospitals.service.ts
Due: none

adaption frontend
  Frontend/gis/src/app/hospital-info/hospital-info.component.html
  Frontend/gis/src/app/hospital-info/hospital-info.component.ts
  Frontend/gis/src/app/map/overlays/aggregated-glyph.layer.ts
  Frontend/gis/src/app/services/divi-hospitals.service.ts
Due: none

update divi models for new metadata
  Backend/models/divi.py
Due: none

[#157] apply some styling to the pxl
  Frontend/gis/src/index.html
  Frontend/gis/src/styles.less
Due: none

fixing strange visualization code
  Frontend/gis/src/app/hospital-info/hospital-info.component.ts
  Frontend/gis/src/app/map/overlays/simple-glyph.layer.ts
  Frontend/gis/src/app/services/divi-hospitals.service.ts
  Frontend/gis/src/environments/environment.ts
Due: none

[#146] wip
  Frontend/gis/angular.json
Due: none

migration
  Frontend/gis/src/app/map/overlays/aggregated-glyph.layer.ts
  Frontend/gis/src/app/map/overlays/bedstatuschoropleth.ts
  Frontend/gis/src/app/map/overlays/simple-glyph.layer.ts
  Frontend/gis/src/app/services/colormap.service.ts
  Frontend/gis/src/app/services/divi-hospitals.service.ts
Due: none

[#158] In the simple glyph tooltip and dialog, show a line chart with bed capacities over the time (currently with dummy data)
  Frontend/gis/src/app/hospital-info/hospital-info.component.html
  Frontend/gis/src/app/hospital-info/hospital-info.component.less
  Frontend/gis/src/app/hospital-info/hospital-info.component.ts
Due: none

[#133] kubeconfig magixx
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-production, deploy-tiles-staging, deploy-tiles-production

[#133] disambiguate deployment names + use new deployment
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-production, deploy-tiles-staging, deploy-tiles-production

[#133] Rename kubeconfig var to not disturb other deployments
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-production, deploy-tiles-staging, deploy-tiles-production
