Repository dbvis-ukon/coronavis: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dockerize-crawler, dockerize-tiles, deploy-crawler-production, deploy-tiles-staging, deploy-tiles-production

Path conditions:
  dockerize-crawler: any of: Crawler/**/*, k8/Crawler/**/*, .gitlab-ci.yml
  dockerize-tiles: any of: Tiles/**/*, k8/Tiles/**/*, .gitlab-ci.yml
  deploy-crawler-production: any of: Crawler/**/*, k8/Crawler/**/*, .gitlab-ci.yml
  deploy-tiles-staging: any of: Tiles/**/*, k8/Tiles/**/*, .gitlab-ci.yml
  deploy-tiles-production: any of: Tiles/**/*, k8/Tiles/**/*, .gitlab-ci.yml

Refactor Layout to own module
  Frontend/gis/src/app/map/overlays/aggregated-glyph.layer.ts
  Frontend/gis/src/app/map/overlays/simple-glyph.layer.ts
  Frontend/gis/src/app/util/layout.ts
Due: none

WIP: Use Cola Layout
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
  Frontend/gis/src/app/map/overlays/simple-glyph.layer.ts
  Frontend/gis/src/app/util/layout.ts
Due: none

[#148] Implement Caching & only update force layouts when layers are visible
  Frontend/gis/src/app/map/map.component.ts
  Frontend/gis/src/app/map/overlays/GlyphLayer.ts
  Frontend/gis/src/app/map/overlays/aggregated-glyph.layer.ts
  Frontend/gis/src/app/map/overlays/simple-glyph.layer.ts
  Frontend/gis/src/app/services/divi-hospitals.service.ts
  Frontend/gis/src/app/util/forceDirectedLayout.ts
  Frontend/gis/src/app/util/layout.ts
Due: none

Revert "WIP: Use Cola Layout"
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
  Frontend/gis/src/app/map/overlays/simple-glyph.layer.ts
  Frontend/gis/src/app/util/layout.ts
Due: none

try to figure out vega -.-
  Frontend/gis/src/app/hospital-info/hospital-info.component.ts
Due: none

change static line drawing for 100% line
  Frontend/gis/src/app/hospital-info/hospital-info.component.ts
Due: none

[#162] disable deploying review to old cluster
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-production, deploy-tiles-staging, deploy-tiles-production

[#162] adjust frontend URL variables
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-production, deploy-tiles-staging, deploy-tiles-production

[#162] fix syntax
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-production, deploy-tiles-staging, deploy-tiles-production

[#148] WIP: Begin refactoring color maps
  Frontend/gis/src/app/glyph-tooltip/glyph-tooltip.component.ts
  Frontend/gis/src/app/hospital-info/hospital-info.component.html
  Frontend/gis/src/app/hospital-info/hospital-info.component.ts
  Frontend/gis/src/app/services/colormap.service.ts
  Frontend/gis/src/app/services/divi-hospitals.service.ts
Due: none

[#162] fix syntax again
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-production, deploy-tiles-staging, deploy-tiles-production

change domain of axis, update axis label
  Frontend/gis/src/app/hospital-info/hospital-info.component.ts
Due: none

[#163] load pixel dynamically and assign siteId based on environment
  Frontend/gis/src/app/app.component.html
  Frontend/gis/src/app/app.component.less
  Frontend/gis/src/app/app.component.ts
  Frontend/gis/src/index.html
  Frontend/gis/src/styles.less
Due: none

insert vertical line for prediction-start
  Frontend/gis/src/app/hospital-info/hospital-info.component.ts
Due: none

[#158] Creates timeseries from the divi data (some calculations still need to be clarified)
  Frontend/gis/src/app/hospital-info/hospital-info.component.ts
Due: none

move legend to left
  Frontend/gis/src/app/hospital-info/hospital-info.component.ts
Due: none

[#158] merged Matthias code
  Frontend/gis/src/app/hospital-info/hospital-info.component.ts
Due: none

[#146] wip: nginx config
  Frontend/gis/package.json
  Frontend/mysite.conf
Due: none

[#164] check the syntax of the config when building the docker image
  Tiles/Dockerfile
Due: dockerize-tiles, deploy-tiles-staging, deploy-tiles-production

[#164] adjust rules since gitlab docs are once more wrong
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-production, deploy-tiles-staging, deploy-tiles-production

[#164] turn on tileserver for FB
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-production, deploy-tiles-staging, deploy-tiles-production

[#164] check config after sed replacement
  Tiles/Dockerfile
Due: dockerize-tiles, deploy-tiles-staging, deploy-tiles-production

[#164] test deploy tile server for this FB and enable cors
  .gitlab-ci.yml
  Frontend/gis/src/app/about/about.component.ts
  Tiles/mysite.conf
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-production, deploy-tiles-staging, deploy-tiles-production

[#164] revert ci config
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-production, deploy-tiles-staging, deploy-tiles-production

[#146] check config syntax and different rewrite
  Frontend/Dockerfile
  Frontend/mysite.conf
Due: none

[#146] add separate health check
  Frontend/mysite.conf
Due: none

[#146] adjust gitlab ci for locales
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-production, deploy-tiles-staging, deploy-tiles-production

[#146] add empty tags
  Frontend/gis/src/i18n/messages.en.xlf
Due: none

[#146] use separate /health endpoint
  k8/Frontend/templates/Deployment.yaml
  k8/frontend-new/templates/Deployment.yaml
Due: none

[#146] assets must be nested
  Frontend/mysite.conf
Due: none

[#146] fix nesting
  Frontend/mysite.conf
Due: none

[#146] wip: angular workspace config
  Frontend/gis/angular.json
Due: none

[#146] remove @angular/localize
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

[#146] install localize again with ng add
  Frontend/gis/angular.json
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

[#146] updated versions and nginx fallback location
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
  Frontend/gis/src/polyfills.ts
  Frontend/mysite.conf
Due: none

[#158] fixed TSLint errors
  Frontend/gis/src/app/hospital-info/hospital-info.component.ts
Due: none

adapt html to new api colorscale for three states
  Frontend/gis/src/app/hospital-info/hospital-info.component.html
Due: none

[#146] multilanguage config
  Frontend/gis/angular.json
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

[#153] Fix color map for non-aggregated glyphs
  Frontend/gis/src/app/hospital-info/hospital-info.component.html
  Frontend/gis/src/app/map/map.component.ts
  Frontend/gis/src/app/map/overlays/simple-glyph.layer.ts
  Frontend/gis/src/app/services/colormap.service.ts
  Frontend/gis/src/app/services/hospitallayer.service.ts
Due: none

Hospital Crawler
  Crawler/db.py
Due: dockerize-crawler, deploy-crawler-production
