Repository dbvis-ukon/coronavis: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dockerize-crawler, dockerize-tiles, deploy-crawler-production, deploy-tiles-staging, deploy-tiles-production

Path conditions:
  dockerize-crawler: any of: Crawler/**/*, k8/Crawler/**/*, .gitlab-ci.yml
  dockerize-tiles: any of: Tiles/**/*, k8/Tiles/**/*, .gitlab-ci.yml
  deploy-crawler-production: any of: Crawler/**/*, k8/Crawler/**/*, .gitlab-ci.yml
  deploy-tiles-staging: any of: Tiles/**/*, k8/Tiles/**/*, .gitlab-ci.yml
  deploy-tiles-production: any of: Tiles/**/*, k8/Tiles/**/*, .gitlab-ci.yml

next try
  k8/tiles-new/templates/Deployment.yaml
Due: none

[] do not deploy on worker 1
  k8/backend-new/templates/Deployment.yaml
  k8/frontend-new/templates/Deployment.yaml
Due: none

[] change syntax of node affinity
  k8/backend-new/templates/Deployment.yaml
  k8/frontend-new/templates/Deployment.yaml
  k8/tiles-new/templates/Deployment.yaml
Due: none

[#105] styling of line
  Frontend/gis/src/app/map/map.component.less
  Frontend/gis/src/app/map/overlays/simple-glyph.layer.ts
Due: none

Map attribution added.
  Frontend/gis/src/app/map/map.component.ts
Due: none

[#146] remove console.log statements
  Frontend/gis/src/app/decorators/cache.decorator.ts
  Frontend/gis/src/app/hospital-info/hospital-info.component.ts
  Frontend/gis/src/app/infobox/infobox.component.ts
  Frontend/gis/src/app/map/overlays/aggregated-glyph.layer.ts
  Frontend/gis/src/app/map/overlays/bedstatuschoropleth.ts
  Frontend/gis/src/app/map/overlays/simple-glyph.layer.ts
  Frontend/gis/src/app/repositories/qualitative-divi-development.respository.ts
  Frontend/gis/src/app/services/bed-choropleth-layer.service.ts
  Frontend/gis/src/app/services/case-choropleth-layer.service.ts
  Frontend/gis/src/app/services/glyph-layer.service.ts
  Frontend/gis/src/app/services/i18n.service.ts
  Frontend/gis/src/app/services/osm-layer.service.ts
  Frontend/gis/src/app/util/forceDirectedLayout.ts
  Frontend/gis/src/app/util/timestamped-value.ts
Due: none

[#146] fix syntax error
  Frontend/gis/src/app/util/timestamped-value.ts
Due: none

[#146] Translation of infobox tooltips.
  Frontend/gis/src/app/infobox/infobox.component.html
  Frontend/gis/src/i18n/messages.de.xlf
  Frontend/gis/src/i18n/messages.en.xlf
Due: none

[#146] change replica count for production to 2
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-production, deploy-tiles-staging, deploy-tiles-production

[#146] Translation of missing ts tooltips added.
  Frontend/gis/src/app/case-tooltip/case-tooltip.component.html
  Frontend/gis/src/app/hospital-info/hospital-info.component.html
  Frontend/gis/src/app/services/translation.service.ts
  Frontend/gis/src/i18n/messages.de.xlf
  Frontend/gis/src/i18n/messages.en.xlf
Due: none

[hotfix] fix capitalization
  Frontend/gis/src/i18n/messages.en.xlf
Due: none

[#211] add missing name space env variable
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-production, deploy-tiles-staging, deploy-tiles-production

[#169] Attempt to minimize hospital distance display errors
  Frontend/gis/src/app/map/overlays/simple-glyph.layer.ts
Due: none

[#169] Disable debugging background box
  Frontend/gis/src/app/map/overlays/simple-glyph.layer.ts
Due: none

[#169] Minimize padding & reduce labels on highest zoom level
  Frontend/gis/src/app/map/overlays/simple-glyph.layer.ts
Due: none

[#169] Reduce border around glyphs
  Frontend/gis/src/app/map/map.component.css
Due: none

optimze positioning
  Frontend/gis/src/app/map/map.component.less
  Frontend/gis/src/app/map/overlays/simple-glyph.layer.ts
Due: none

better readability for country style overview
  Frontend/gis/src/app/map/overlays/simple-glyph.layer.ts
Due: none

[#10] wip: map location settings
  Frontend/gis/src/app/app.component.ts
  Frontend/gis/src/app/map/map.component.ts
  Frontend/gis/src/app/map/options/map-location-settings.ts
Due: none

switch to python slim and disable tmp package source cache in container image
  Crawler/Dockerfile
Due: dockerize-crawler, deploy-crawler-production

remove used numpy dependency
  Crawler/crawl_divi_data.py
  Crawler/crawl_rki_cases.py
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-production

set initial positon and zoom on first load to Germany instead of BW
  Frontend/gis/src/app/map/map.component.ts
Due: none

remove unused css file (less is used)
  Frontend/gis/src/app/map/map.component.css
Due: none

[#212] use angular locale-specific formats
  Frontend/gis/src/app/hospital-info/hospital-info.component.html
Due: none

[#212] fix translation error
  Frontend/gis/src/i18n/messages.en.xlf
Due: none

[#212] switch to new domain
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-production, deploy-tiles-staging, deploy-tiles-production

[fix] correct kubeconfig for crawler
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-production, deploy-tiles-staging, deploy-tiles-production

detail layout improvements and add slider value to enable geo-positon / force-directed layout
  Frontend/gis/src/app/app.component.ts
  Frontend/gis/src/app/infobox/infobox.component.html
  Frontend/gis/src/app/infobox/infobox.component.ts
  Frontend/gis/src/app/map/options/map-options.ts
  Frontend/gis/src/app/map/overlays/simple-glyph.layer.ts
  Frontend/gis/src/environments/environment.ts
Due: none

[#213] Set ephemeral storage request + limit for tile server + less access log spam
  Frontend/mysite.conf
  Tiles/mysite.conf
  k8/Backend/Chart.yaml
  k8/Backend/templates/Deployment.yaml
  k8/Backend/templates/Ingress.yaml
  k8/Backend/templates/Service.yaml
  k8/Backend/templates/_helpers.tpl
  k8/Backend/values.yaml
  k8/Crawler/Chart.yaml
  k8/Crawler/templates/_helpers.tpl
  k8/Crawler/templates/cron-covid19vis-crawler-divi-hospitals-map.yaml
  k8/Crawler/templates/cron-covid19vis-crawler-divi-hospitals-table.yaml
  k8/Crawler/templates/cron-covid19vis-crawler-old-divi-hospitals-map.yaml
  k8/Crawler/templates/cron-covid19vis-crawler-rki-lk-bl-cases.yaml
  k8/Crawler/templates/cron-covid19vis-crawler-rki-patient-cases.yaml
  k8/Crawler/values.yaml
  k8/Frontend/Chart.yaml
  k8/Frontend/templates/Deployment.yaml
  k8/Frontend/templates/Ingress.yaml
  k8/Frontend/templates/Service.yaml
  k8/Frontend/templates/_helpers.tpl
  k8/Frontend/values.yaml
  k8/Tiles/Chart.yaml
  k8/Tiles/templates/Deployment.yaml
  k8/Tiles/templates/Ingress.yaml
  k8/Tiles/templates/Service.yaml
  k8/Tiles/templates/_helpers.tpl
  k8/Tiles/values.yaml
  k8/tiles-new/templates/Deployment.yaml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-production, deploy-tiles-staging, deploy-tiles-production

[#213] Completely disable access logs for nginx
  Frontend/mysite.conf
  Tiles/mysite.conf
Due: dockerize-tiles, deploy-tiles-staging, deploy-tiles-production

[#218] collapse info box if mobile
  Frontend/gis/src/app/infobox/infobox.component.ts
  Frontend/gis/src/environments/environment.ts
Due: none

[#146] Converted Close buttons to DE and added translation.
  Frontend/gis/src/app/about/about.component.html
  Frontend/gis/src/app/hospital-info-dialog/hospital-info-dialog.component.html
  Frontend/gis/src/app/impressum/impressum.component.html
  Frontend/gis/src/i18n/messages.de.xlf
  Frontend/gis/src/i18n/messages.en.xlf
Due: none

[#169] Make force-directed layout configurable
  Frontend/gis/src/app/app.component.ts
  Frontend/gis/src/app/infobox/infobox.component.html
  Frontend/gis/src/app/infobox/infobox.component.ts
  Frontend/gis/src/app/map/map.component.ts
  Frontend/gis/src/app/map/options/bed-glyph-options.ts
  Frontend/gis/src/app/map/options/map-options.ts
  Frontend/gis/src/app/map/overlays/aggregated-glyph.layer.ts
  Frontend/gis/src/app/map/overlays/simple-glyph.layer.ts
  Frontend/gis/src/app/services/glyph-layer.service.ts
  Frontend/gis/src/environments/environment.ts
Due: none

[#218] added overlay-mobile
  Frontend/gis/src/app/app.module.ts
  Frontend/gis/src/app/overlay-mobile/overlay-mobile.component.html
  Frontend/gis/src/app/overlay-mobile/overlay-mobile.component.less
  Frontend/gis/src/app/overlay-mobile/overlay-mobile.component.ts
Due: none

[#169] Fix invalid default config
  Frontend/gis/src/app/app.component.ts
Due: none

[#218] shows test
  Frontend/gis/src/app/app.component.html
  Frontend/gis/src/app/app.module.ts
  Frontend/gis/src/app/overlay-mobile/overlay-mobile.component.html
  Frontend/gis/src/app/overlay-mobile/overlay-mobile.component.ts
Due: none

[#218] Added mobile application warning message. [missing styling]
  Frontend/gis/src/app/overlay-mobile/overlay-mobile.component.html
  Frontend/gis/src/i18n/messages.de.xlf
  Frontend/gis/src/i18n/messages.en.xlf
Due: none

[#218] display on top of the view
  Frontend/gis/src/app/app.component.html
  Frontend/gis/src/app/overlay-mobile/overlay-mobile.component.less
Due: none

[#218] adapted style and display the correct text
  Frontend/gis/src/app/overlay-mobile/overlay-mobile.component.less
Due: none

[hotfix] only deploy tileserver with changes
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-production, deploy-tiles-staging, deploy-tiles-production
