Repository dbvis-ukon/coronavis: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dockerize-backend, dockerize-frontend, dockerize-crawler, dockerize-tileserver, deploy-backend-fb, deploy-backend-staging, deploy-backend-production, deploy-frontend, deploy-crawler, deploy-tileserver

Path conditions:
  dockerize-backend: any of: Backend/**, Backend/**/*, k8/Backend/**, k8/Backend/**/*, .gitlab-ci.yml
  dockerize-frontend: any of: Frontend/**, Frontend/**/*, k8/Frontend/**, k8/Frontend/**/*, .gitlab-ci.yml
  dockerize-crawler: any of: Crawler/**, Crawler/**/*, k8/Crawler/**, k8/Crawler/**/*
  dockerize-tileserver: any of: Tiles/**, Tiles/**/*, k8/Tiles/**, k8/Tiles/**/*
  deploy-backend-fb: any of: Backend/**, Backend/**/*, k8/Backend/**, k8/Backend/**/*, .gitlab-ci.yml
  deploy-backend-staging: any of: Backend/**, Backend/**/*, k8/Backend/**, k8/Backend/**/*, .gitlab-ci.yml
  deploy-backend-production: any of: Backend/**, Backend/**/*, k8/Backend/**, k8/Backend/**/*, .gitlab-ci.yml
  deploy-frontend: any of: Frontend/**, Frontend/**/*, k8/Frontend/**, k8/Frontend/**/*, .gitlab-ci.yml
  deploy-crawler: any of: Crawler/**, Crawler/**/*, k8/Crawler/**, k8/Crawler/**/*
  deploy-tileserver: any of: Tiles/**, Tiles/**/*, k8/Tiles/**, k8/Tiles/**/*

[#100] no crawler deployments for staging
  .gitlab-ci.yml
Due: dockerize-backend, dockerize-frontend, deploy-backend-fb, deploy-backend-staging, deploy-backend-production, deploy-frontend

make rki cases crawler robust against race conditions and also speed up performance
  Crawler/crawl_rki_cases.py
Due: dockerize-crawler, deploy-crawler

[#100] test staging deployment
  .gitlab-ci.yml
Due: dockerize-backend, dockerize-frontend, deploy-backend-fb, deploy-backend-staging, deploy-backend-production, deploy-frontend

[#103] prepared impressum and about component
  Frontend/gis/src/app/about/about.component.html
  Frontend/gis/src/app/about/about.component.less
  Frontend/gis/src/app/about/about.component.ts
  Frontend/gis/src/app/app.module.ts
  Frontend/gis/src/app/impressum/impressum.component.html
  Frontend/gis/src/app/impressum/impressum.component.less
  Frontend/gis/src/app/impressum/impressum.component.ts
  Frontend/gis/src/app/infobox/infobox.component.html
  Frontend/gis/src/app/infobox/infobox.component.ts
Due: dockerize-frontend, deploy-frontend

[#100] Fix tile server resource requests
  k8/Tiles/templates/Deployment.yaml
Due: dockerize-tileserver, deploy-tileserver

[#100] Revert staging testing
  .gitlab-ci.yml
Due: dockerize-backend, dockerize-frontend, deploy-backend-fb, deploy-backend-staging, deploy-backend-production, deploy-frontend

[#104] Hides glyph labels when zoomed out, show hospital names when the application is started
  Frontend/gis/src/app/map/overlays/simple-glyph.layer.ts
Due: dockerize-frontend, deploy-frontend

[#100] Fix deployment match labels
  .gitlab-ci.yml
  k8/Backend/templates/_helpers.tpl
  k8/Crawler/templates/_helpers.tpl
  k8/Frontend/templates/_helpers.tpl
  k8/Tiles/templates/_helpers.tpl
Due: dockerize-backend, dockerize-frontend, dockerize-crawler, dockerize-tileserver, deploy-backend-fb, deploy-backend-staging, deploy-backend-production, deploy-frontend, deploy-crawler, deploy-tileserver

[#100] Try to deploy with fixed match labels
  .gitlab-ci.yml
Due: dockerize-backend, dockerize-frontend, deploy-backend-fb, deploy-backend-staging, deploy-backend-production, deploy-frontend

escape password to only contain allowed characters and update cases crawler to use db_config.py password
  Crawler/crawl_rki_cases.py
  Crawler/db_config.py
Due: dockerize-crawler, deploy-crawler

[#100] Change to more k8 style label spelling
  k8/Backend/templates/_helpers.tpl
  k8/Crawler/templates/_helpers.tpl
  k8/Frontend/templates/_helpers.tpl
  k8/Tiles/templates/_helpers.tpl
Due: dockerize-backend, dockerize-frontend, dockerize-crawler, dockerize-tileserver, deploy-backend-fb, deploy-backend-staging, deploy-backend-production, deploy-frontend, deploy-crawler, deploy-tileserver

[#100] Avoid duplicate deployments for FBs
  .gitlab-ci.yml
Due: dockerize-backend, dockerize-frontend, deploy-backend-fb, deploy-backend-staging, deploy-backend-production, deploy-frontend

[#100] Re-test staging deployments
  .gitlab-ci.yml
Due: dockerize-backend, dockerize-frontend, deploy-backend-fb, deploy-backend-staging, deploy-backend-production, deploy-frontend

[#100] replace urls in environment.prod.ts
  .gitlab-ci.yml
Due: dockerize-backend, dockerize-frontend, deploy-backend-fb, deploy-backend-staging, deploy-backend-production, deploy-frontend

[#100] move environment replacement logic into separate file since yaml parser fails if colons are used in strings
  .gitlab-ci.yml
  Frontend/replace-environment-urls.sh
Due: dockerize-backend, dockerize-frontend, deploy-backend-fb, deploy-backend-staging, deploy-backend-production, deploy-frontend

[#100] set execution bit for helper script
  Frontend/replace-environment-urls.sh
Due: dockerize-frontend, deploy-frontend

[#100] fix folder
  Frontend/replace-environment-urls.sh
Due: dockerize-frontend, deploy-frontend

[#100] export the variables to make them usable in the script
  .gitlab-ci.yml
Due: dockerize-backend, dockerize-frontend, deploy-backend-fb, deploy-backend-staging, deploy-backend-production, deploy-frontend

[#100] debug dotenv file
  .gitlab-ci.yml
Due: dockerize-backend, dockerize-frontend, deploy-backend-fb, deploy-backend-staging, deploy-backend-production, deploy-frontend

[#100] fix syntax
  .gitlab-ci.yml
Due: dockerize-backend, dockerize-frontend, deploy-backend-fb, deploy-backend-staging, deploy-backend-production, deploy-frontend

[#100] test staging deployments
  .gitlab-ci.yml
Due: dockerize-backend, dockerize-frontend, deploy-backend-fb, deploy-backend-staging, deploy-backend-production, deploy-frontend

[#100] extract staging branch name into variable
  .gitlab-ci.yml
Due: dockerize-backend, dockerize-frontend, deploy-backend-fb, deploy-backend-staging, deploy-backend-production, deploy-frontend

[#100] no more fb deployments for staging branches
  .gitlab-ci.yml
Due: dockerize-backend, dockerize-frontend, deploy-backend-fb, deploy-backend-staging, deploy-backend-production, deploy-frontend

[#100] use branch name not ref name?
  .gitlab-ci.yml
Due: dockerize-backend, dockerize-frontend, deploy-backend-fb, deploy-backend-staging, deploy-backend-production, deploy-frontend

[#100] multiple rules instead of logical or
  .gitlab-ci.yml
Due: dockerize-backend, dockerize-frontend, deploy-backend-fb, deploy-backend-staging, deploy-backend-production, deploy-frontend

[#100] multiple rules instead of logical or for all the others as well
  .gitlab-ci.yml
Due: dockerize-backend, dockerize-frontend, deploy-backend-fb, deploy-backend-staging, deploy-backend-production, deploy-frontend

[#100] Fix tileserver image name in k8 deployment definition
  k8/Tiles/templates/Deployment.yaml
Due: dockerize-tileserver, deploy-tileserver

[#100] Stop staging test; revert staging branch name to master
  .gitlab-ci.yml
Due: dockerize-backend, dockerize-frontend, deploy-backend-fb, deploy-backend-staging, deploy-backend-production, deploy-frontend

[#100] Add allow failure to all manual env deletion rules
  .gitlab-ci.yml
Due: dockerize-backend, dockerize-frontend, deploy-backend-fb, deploy-backend-staging, deploy-backend-production, deploy-frontend

[#100] no fb deployments for tags
  .gitlab-ci.yml
Due: dockerize-backend, dockerize-frontend, deploy-backend-fb, deploy-backend-staging, deploy-backend-production, deploy-frontend

use environment variables for database connection if available
  Backend/server.py
  docker-compose.yml
Due: dockerize-backend, deploy-backend-fb, deploy-backend-staging, deploy-backend-production

[#109] Rename production environments
  .gitlab-ci.yml
Due: dockerize-backend, dockerize-frontend, deploy-backend-fb, deploy-backend-staging, deploy-backend-production, deploy-frontend

[#111] reduce requests and limits
  k8/Tiles/templates/Deployment.yaml
Due: dockerize-tileserver, deploy-tileserver

[#111] fix syntax
  k8/Tiles/templates/Deployment.yaml
Due: dockerize-tileserver, deploy-tileserver

[#108] change variables to use staging for development
  Frontend/gis/src/environments/environment.prod.ts
  Frontend/gis/src/environments/environment.ts
Due: dockerize-frontend, deploy-frontend

[hotfix] prefix urls with https://
  Frontend/replace-environment-urls.sh
Due: dockerize-frontend, deploy-frontend

[hotfix] compile correct url for tile server
  Frontend/gis/src/app/map/map.component.ts
  Frontend/gis/src/environments/environment.prod.ts
  Frontend/gis/src/environments/environment.ts
Due: dockerize-frontend, deploy-frontend

[#110] shorten the chart name
  .gitlab-ci.yml
Due: dockerize-backend, dockerize-frontend, deploy-backend-fb, deploy-backend-staging, deploy-backend-production, deploy-frontend
