Repository dbvis-ukon/coronavis: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dockerize-crawler, dockerize-tiles, deploy-crawler-production, deploy-tiles-staging, deploy-tiles-production

dockerize-crawler:
  stage: build:docker
  image: docker:latest
  services:
  - docker:dind
  script:
  - source var.env
  - echo "$CI_REGISTRY_PASSWORD" | docker login --username "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  - cd ${FOLDER}
  - IMGNAME=$(echo "${FOLDER}" | tr '[:upper:]' '[:lower:]')
  ...

dockerize-tiles:
  stage: build:docker
  image: docker:latest
  services:
  - docker:dind
  script:
  - source var.env
  - echo "$CI_REGISTRY_PASSWORD" | docker login --username "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  - cd ${FOLDER}
  - IMGNAME=$(echo "${FOLDER}" | tr '[:upper:]' '[:lower:]')
  ...

deploy-crawler-production:
  stage: deploy
  script:
  - source var.env
  - cat var.env
  - URL_ACCESSOR="URL_$(echo ${APP} | tr [:lower:] [:upper:])"
  - echo $URL_ACCESSOR
  - URL=${!URL_ACCESSOR}
  - echo ${URL}
  - CHART_NAME=$(echo ${CI_ENVIRONMENT_NAME} | tr / - | cut -c -53 | sed -E 's#-+$##')
  - echo ${CHART_NAME}
  ...

deploy-tiles-staging:
  stage: deploy
  script:
  - source var.env
  - cat var.env
  - URL_ACCESSOR="URL_$(echo ${APP} | tr [:lower:] [:upper:])"
  - echo $URL_ACCESSOR
  - URL=${!URL_ACCESSOR}
  - echo ${URL}
  - CHART_NAME=$(echo ${CI_ENVIRONMENT_NAME} | tr / - | cut -c -53 | sed -E 's#-+$##')
  - echo ${CHART_NAME}
  ...

deploy-tiles-production:
  stage: deploy
  script:
  - source var.env
  - cat var.env
  - URL_ACCESSOR="URL_$(echo ${APP} | tr [:lower:] [:upper:])"
  - echo $URL_ACCESSOR
  - URL=${!URL_ACCESSOR}
  - echo ${URL}
  - CHART_NAME=$(echo ${CI_ENVIRONMENT_NAME} | tr / - | cut -c -53 | sed -E 's#-+$##')
  - echo ${CHART_NAME}
  ...

run dockerize always
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-production, deploy-tiles-staging, deploy-tiles-production

[#171] wip tooltip work
  Frontend/gis/src/app/map/map.component.less
  Frontend/gis/src/app/map/map.component.ts
  Frontend/gis/src/app/map/overlays/simple-glyph.layer.ts
Due: none

deploy tileserver on FB
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-production, deploy-tiles-staging, deploy-tiles-production

fix ci
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-production, deploy-tiles-staging, deploy-tiles-production

[#171] fixes #171
  Frontend/gis/src/app/glyph-tooltip/glyph-tooltip.component.less
  Frontend/gis/src/app/map/map.component.less
  Frontend/gis/src/app/map/overlays/aggregated-glyph.layer.ts
  Frontend/gis/src/app/map/overlays/simple-glyph.layer.ts
Due: none

[] deploy crawler in staging environment
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-production, deploy-tiles-staging, deploy-tiles-production

Modified Team box
  Frontend/gis/src/app/about/about.component.html
  Frontend/gis/src/assets/meschenmoser.jpg
  Frontend/gis/src/i18n/messages.de.xlf
  Frontend/gis/src/i18n/messages.en.xlf
Due: none

[#206] fixed bug, checks if a datapoint exists for the same timestamp and category + increase tooltip min-width
  Frontend/gis/src/app/glyph-tooltip/glyph-tooltip.component.less
  Frontend/gis/src/app/hospital-info/hospital-info.component.html
  Frontend/gis/src/app/hospital-info/hospital-info.component.ts
Due: none

[#10] wip not working
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
  Frontend/gis/src/app/map/map.component.ts
Due: none

[#206] increase min-width for tooltips
  Frontend/gis/src/app/glyph-tooltip/glyph-tooltip.component.less
Due: none

change zoom level to 14 and revert CI
  .gitlab-ci.yml
  Frontend/gis/src/app/map/map.component.ts
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-production, deploy-tiles-staging, deploy-tiles-production

[#206] fix min width after werge
  Frontend/gis/src/app/glyph-tooltip/glyph-tooltip.component.less
Due: none

add lines to simple glyph layer - indicate correct geo locations of hospitals on hover
  Frontend/gis/src/app/map/overlays/simple-glyph.layer.ts
Due: none

[hotfix] no longer schedule on nodes with onlyingress label --> kube-worker1
  k8/backend-new/templates/Deployment.yaml
  k8/frontend-new/templates/Deployment.yaml
  k8/tiles-new/templates/Deployment.yaml
Due: none

Map attribution added.
  Frontend/gis/src/app/map/map.component.ts
Due: none

[#146] Translation of infobox complete. [missing tooltips and figures]
  Frontend/gis/src/app/help-dialog/help-dialog.component.html
  Frontend/gis/src/app/infobox/infobox.component.html
  Frontend/gis/src/i18n/messages.de.xlf
  Frontend/gis/src/i18n/messages.en.xlf
Due: none

next try
  k8/tiles-new/templates/Deployment.yaml
Due: none

[] do not deploy on worker 1
  k8/backend-new/templates/Deployment.yaml
  k8/frontend-new/templates/Deployment.yaml
Due: none

[] change syntax of node affinity
  k8/backend-new/templates/Deployment.yaml
  k8/frontend-new/templates/Deployment.yaml
  k8/tiles-new/templates/Deployment.yaml
Due: none

[#105] styling of line
  Frontend/gis/src/app/map/map.component.less
  Frontend/gis/src/app/map/overlays/simple-glyph.layer.ts
Due: none

[#146] Added figues to help box. [missing tooltips]
  Frontend/gis/src/app/help-dialog/help-dialog.component.html
  Frontend/gis/src/app/help-dialog/help-dialog.component.less
  Frontend/gis/src/assets/covisexpl1.png
Due: none

[#146] fix language switch logic
  Frontend/gis/src/app/infobox/infobox.component.html
  Frontend/gis/src/app/infobox/infobox.component.ts
  Frontend/gis/src/app/services/i18n.service.ts
Due: none

[#146] fix nullpointer in hospital info
  Frontend/gis/src/app/hospital-info/hospital-info.component.ts
Due: none

[#192] Store agg.level-specific positions in localStorage
  Frontend/gis/src/app/map/overlays/aggregated-glyph.layer.ts
  Frontend/gis/src/app/map/overlays/simple-glyph.layer.ts
  Frontend/gis/src/app/util/forceDirectedLayout.ts
  Frontend/gis/src/constants.ts
Due: none

OpenMapTiles maps, adjusted Positron style. Tiles now in own subrepo.
  .gitmodules
  Tiles/.gitattributes
  Tiles/Dockerfile
  Tiles/covid19_tiles_germany_2-11_DBVIS.tar.gz
Due: dockerize-tiles, deploy-tiles-staging, deploy-tiles-production

Wolfgang says: make this part relative. So I do.
  .gitmodules
Due: none

test CI dockerize on FB
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-production, deploy-tiles-staging, deploy-tiles-production

fix url in gitmodules
  .gitmodules
Due: none

Path conditions:
  dockerize-crawler: any of: Crawler/**/*, k8/Crawler/**/*, .gitlab-ci.yml
  dockerize-tiles: any of: Tiles/**/*, k8/Tiles/**/*, .gitlab-ci.yml
  deploy-crawler-production: any of: Crawler/**/*, k8/Crawler/**/*, .gitlab-ci.yml
  deploy-tiles-staging: any of: Tiles/**/*, k8/Tiles/**/*, .gitlab-ci.yml
  deploy-tiles-production: any of: Tiles/**/*, k8/Tiles/**/*, .gitlab-ci.yml
